# example .env
# very bloated, but it's not meant to be used outside FKZ anyways
#
TOKEN= # add your discord bot token, get it from: https://discord.com/developers
CLIENT_ID= # add your discord bot client id
#
BOT_MANAGER_ROLE=
