services:
  bot:
    container_name: bot-fkz
    image: bot-fkz
    volumes:
      - ./:/app
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    network_mode: bridge
    user: 1000:1000
    tty: true
    stdin_open: true
