[
  {
    "cs2-server-1": {
      "type": "local",
      "name": "CS2 Server 1",
      "user": "local-user-1",
      "ip": "127.0.0.1",
      "port": "27015"
    },
    "cs2-server-2": {
      "type": "api",
      "name": "CS2 Server 2",
      "user": "remote-user-1",
      "ip": "127.0.0.1",
      "port": "27016"
    },
    "cs2-server-3": {
      "type": "dathost",
      "name": "CS2 Server 3",
      "id": "serverid",
      "ip": "somedomain.com",
      "port": "27017"
    }
  }
]
