[
  {
    // Local Docker Server Example
    "csgo-server-1": {
       // Requires bot user to be in docker group
      "type": "local_docker",

       // Name is just for display on the command
      "name": "CSGO Server 1",

       // User doesn't matter with local docker
      "user": "local-user-1",

      // IP/Port is just for display with local commands
      "ip": "127.0.0.1",
      "port": "27015",

      // Only command that requires folder to be set
      "folder": "/home/csgo-servers"
    },

    // Local LGSM Server Example
    "csgo-server-2": {
       // Requires bot user to be in sudo group
      "type": "local_lgsm",

       // Name is just for display on the command
      "name": "CSGO Server 2",

       // Requires user to be owner of the server files
      "user": "local-user-2",

       // IP/Port is just for display with local commands
      "ip": "127.0.0.1",
      "port": "27016"
    },

    // Remote Docker Server Example
    "csgo-server-3": {
       // Requires remote user to be in docker group
      "type": "remote_docker",

      // Name is just for display on the command
      "name": "CSGO Server 3",

      // Requires user to be in docker group
      "user": "remote-user-3",

       // IP must be remote host's IP address
      "ip": "0.0.0.0",

       // Port is just for display with commands
      "port": "27017"
    },

    // Remote LSGM Server Example
    "csgo-server-4": {
       // requires server to be installed in remote user's home folder and owned by remote user
      "type": "remote_lgsm",

       // Name is just for display on the command
      "name": "CSGO Server 4",

       // requires user to be owner of the server files
      "user": "remote-user-4",

      // IP must be remote host's IP address
      "ip": "0.0.0.0",

      // Port is just for display with commands
      "port": "27018"
    },

    // Remote Dathost Server Example
    "csgo-server-5": {
       // Requires you to auth using dathost login details, set in .env
      "type": "dathost",

       // Name is just for display on the command
      "name": "CSGO Server 5",

       // ID must be server's dathost id, get it from the panel url:
       // https://dathost.net/control-panel/csgo-server/console/serverid
      "id": "serverid",

      // IP/Port is just for display with dathost commands
      "ip": "0.0.0.0",
      "port": "27019"
    }
  }
]
