name: Bump bot dev version

on:
  push:
    branches: [dev/main]
    paths-ignore:
      - LICENSE
      - README.md
      - .gitignore
      - ".github/*"
  pull_request:
    branches: [dev/main]
    paths-ignore:
      - LICENSE
      - README.md
      - .gitignore
      - ".github/*"

  workflow_dispatch:

permissions:
  contents: write

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: npm
      - name: Bump version
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Actions"
          npm version patch
          git push origin dev/main
